annotated-types==0.6.0
anyio==4.3.0
attrs==23.2.0
av==11.0.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
coloredlogs==15.0.1
ctranslate2==4.1.0
Cython==3.0.9
distro==1.9.0
dtw-python==1.3.1
faster-whisper==1.0.1
ffmpeg-python==0.2.0
filelock==3.13.1
flatbuffers==24.3.7
fsspec==2024.2.0
future==1.0.0
h11==0.14.0
httpcore==1.0.4
httpx==0.27.0
huggingface-hub==0.21.4
humanfriendly==10.0
idna==3.6
importlib_metadata==7.0.2
Jinja2==3.1.3
llvmlite==0.42.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
more-itertools==10.2.0
mpmath==1.3.0
networkx==3.2.1
nomkl==0.0.3
numba==0.59.0
numpy==1.26.4
onnxruntime==1.17.1
openai==1.13.3
packaging==24.0
protobuf==5.26.0
PyAudio==0.2.14
pycparser==2.21
pydantic==2.6.3
pydantic_core==2.16.3
pydub==0.25.1
Pygments==2.17.2
pynput==1.7.6
pyobjc-core==10.1
pyobjc-framework-ApplicationServices==10.1
pyobjc-framework-Cocoa==10.1
pyobjc-framework-CoreText==10.1
pyobjc-framework-Quartz==10.1
python-dotenv==1.0.1
PyYAML==6.0.1
regex==2023.12.25
requests==2.31.0
rich==13.7.1
safetensors==0.4.2
scipy==1.12.0
setuptools==69.2.0
six==1.16.0
sniffio==1.3.1
sounddevice==0.4.6
SpeechRecognition==3.10.1
sympy==1.12
tdqm==0.0.1
tiktoken==0.6.0
tokenizers==0.15.2
torch==2.2.1
tqdm==4.66.2
transformers==4.38.2
typing_extensions==4.10.0
urllib3==2.2.1
whisper_mic @ git+https://github.com/mallorbc/whisper_mic.git@d813c0f16b455b1495d22b83dc0787dae65d8c5d
zipp==3.17.0
